@import './styles/animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Libre Baskerville', Baskerville, serif;
    background-color: #f1f5f9;
    color: #2F3A45;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #c3d7eb;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #215589;
}
